django==1.9.2
django-bootstrap3==6.2.2
Whoosh==2.7.2
django-haystack==2.4.1
django-datatables-view==1.13.0
raven==5.10.2
psycopg2==2.6.1
biopython==1.66
requests==2.9.1
beautifulsoup4==4.4.1
django-fontawesome==0.2.6
