{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}
<h1>About the Phage Registry</h1>
<p class="lead">
The CPT's Phage Registry intends to provide a permanent location to registry the names of phages. We hope with this effort we'll be able to defeat the current naming problem that exists in the Phage world.</p>
<p>
In addition to providing a registry, we provide a permanent URL that you can use to refer to your phages, much like the DOI service provides for documents. Simply access your phage at <code>https://cpt.tamu.edu/phage-registry/u/PhageName</code>
</p>
{% endblock content %}
