{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}
  <style type="text/css">
    .ac{
        color: #aaa;
    }
  </style>
<table id="example" class="datatable table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Phage Name</th>
                <th>Aliases</th>
            </tr>
        </thead>
    </table>

<script type="text/javascript">
$(document).ready(function() {
    var oTable = $('.datatable').dataTable({
        "processing": true,
        "serverSide": true,
        "ajax": "{% url 'order_list_json' %}"
    });
});

</script>
{% endblock content %}
