{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}
<h1>Rules</h1>

<h3><a href="https://cpt.tamu.edu/">CPT</a> Rules</h3>
<div class="list-group">
  <div href="#" class="list-group-item">
    <h4 class="list-group-item-heading">Use the PMS naming scheme</h4>
    <p class="list-group-item-text">Use P names for Podophages, M names for Myophages, and S names for Siphophages. E.g. "Styx" would be appropriate for a Siphophage, but not for a Myophage or Podophage</p>
  </div>
</div>

<h3><a href="http://phagesdb.org/namerules/">Phagesdb.org</a> rules</h3>
<div class="list-group">
  <div href="#" class="list-group-item">
    <h4 class="list-group-item-heading">Unique Name</h4>
    <p class="list-group-item-text">Must be a new name. Check the <a href="https://cpt.tamu.edu/phage-registry/search">phage list</a> to see if your name has already been taken. Avoid names that are very similar to—or homophones of—existing names. For example, there is already a phage “Dori,” so do not name your phage “Dory.”</p>
  </div>

  <div href="#" class="list-group-item">
    <h4 class="list-group-item-heading">Between 4 and 14 characters</h4>
    <p class="list-group-item-text">Must be 4 characters or longer. Gone are the days of L5, U2, and D29. Must not exceed 14 characters in length. (I.e., be short enough to fit handwritten on a 1.5ml microcentrifuge tube.)</p>
  </div>

  <div href="#" class="list-group-item">
    <h4 class="list-group-item-heading">Must start with a capital letter.</h4>
  </div>

  <div href="#" class="list-group-item">
    <h4 class="list-group-item-heading">Alphanumeric characters only</h4>
    <p class="list-group-item-text">Numbers and letters only. Special characters or symbols ()#-@_%$&^*>?:”_ etc. are not acceptable. No spaces in the name.</p>
  </div>

  <div href="#" class="list-group-item">
    <h4 class="list-group-item-heading">No trademarked names</h4>
    <p class="list-group-item-text">No trademarked names unless you get permission. (No “Spongebob” or “Darth Vader,” for example.) If you’re unsure if a name is trademarked, it’s probably better to choose another</p>
  </div>

  <div href="#" class="list-group-item">
    <h4 class="list-group-item-heading">No phage related names</h4>
    <p class="list-group-item-text">Avoid words that already have specific meanings in the phage world, such as phage, pham, cluster, virus, capsid, or mycobacterium (or their derivatives). Do not try to get around this rule by using words such as “fage” or “vyrus.”</p>
  </div>

  <div href="#" class="list-group-item">
    <h4 class="list-group-item-heading">Be consistent with capitalization</h4>
    <p class="list-group-item-text">Phage names are case-sensitive, so be consistent with CAPS/lowercase letters. If the phage is RedRock in one place, it should not be redrock or Redrock in another place. Choose your capitalization at the start and stick to it.</p>
  </div>

  <div href="#" class="list-group-item">
    <h4 class="list-group-item-heading">No full names</h4>
    <p class="list-group-item-text">Do not use a single person’s first and last names. Example: “GrahamHatfull” is not an acceptable name. However, you could name your phage “Graham” or “Hatfull”.</p>
  </div>

  <div href="#" class="list-group-item">
    <h4 class="list-group-item-heading">Should be easily pronounceable</h4>
    <p class="list-group-item-text">Phage names should be easily pronounceable. The phage “Gf33Rf22” technically fulfills the above rules, but it is difficult to say out loud and would likely be rejected. This also applies to initial-type names. Avoid things like “Rnt15” and instead make sure to have a word-like, pronounceable part, such as “Runt15”.</p>
  </div>

  <div href="#" class="list-group-item">
    <h4 class="list-group-item-heading">Avoid ALL CAPS</h4>
    <p class="list-group-item-text">Avoid all CAPS. In addition to making your phage name seem angry or like it forgot to turn off Caps Lock, these names often appear similar to old systematic names which we are trying to avoid. So “BALL16” and “JNK1” are not good choices. Try “Ball16” or “Jenks” instead.</p>
  </div>

  <div href="#" class="list-group-item">
    <h4 class="list-group-item-heading">Phages are pets</h4>
    <p class="list-group-item-text">Think of choosing a phage’s name as similar to choosing a child’s or pet’s name. “Humphrey” or "Giles" are names you could call a dog. "YRTT”, “La7X”, “Fpiml”, and “TDAY09RD” (all real name submissions) are not great choices for children/pets, and are not ideal for phages either.</p>
  </div>

</div>
{% endblock content %}


