{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}
	<div class="form form-inline">
		<fieldset>
			<legend>Query on Phage Name</legend>
			<input id="search-field" type="name">
            {% buttons %}
                <button id="search" class="btn btn-primary">
                {% bootstrap_icon "search" %} Search
                </button>
            {% endbuttons %}
		</fieldset>
	</div>
	<table class="table">
		<thead><tr><th>Phage Name</th><th>Distance</th></tr></thead>
		<tbody>
		</tbody>
	</table>
	<script type="text/javascript">
	$("#search").click(function(){
		var formval = $("#search-field").val();
		$.get( "/phage-registry/similar/?name=" + formval, function( data ) {
			$(".table tbody").children().remove();
			for(var x in data){
				$(".table tbody").append("<tr><td>" + data[x]['name'] + "</td><td>" + data[x]['d'] + "</td></tr>");
			}
		})
	});
	</script>
{% endblock content %}
