{% extends 'registry/base.html' %}

{% block content %}
	<div class="pure-form">
		<fieldset>
			<legend>Query on Phage Name</legend>
			<input id="search-field" type="name" placeholder="Lambda">
			<div id="search" class="pure-button pure-button-primary">Search</button>
		</fieldset>
	</div>
	<table class="pure-table">
		<thead><tr><th>Phage Name</th><th>Distance</th></tr></thead>
		<tbody>
		</tbody>
	</ul>
	<script type="text/javascript">
	$("#search").click(function(){
		var formval = $("#search-field").val();
		$.get( "/phage-registry/similar/?name=" + formval, function( data ) {
			$(".pure-table tbody").children().remove();
			for(var x in data){
				$(".pure-table tbody").append("<tr><td>" + data[x]['name'] + "</td><td>" + data[x]['d'] + "</td></tr>");
			}
		})
	});
	</script>
{% endblock content %}
